# Lambda Function

#### Resources

https://www.youtube.com/watch?v=cKlnR-CB3tk

Krish Naik : https://www.youtube.com/watch?v=NNlrQp5de98&list=PLZoTAELRMXVPBTrWtJkn3wWQxZkmTXGwe&index=15

In [1]:
import numpy as np
import pandas as pd

In [6]:
def double(x):
    return x*2

double(9)

18

In [1]:
square = lambda x: x*2 # lambda <input variable> : < operation >

In [3]:
square(9)

18

In [12]:
def even(num):
    if num%2==0:
        return True
    else:
        return False

In [13]:
even(9)

False

In [22]:
even = lambda x:x%2==0

In [24]:
even(9)

False

In [25]:
sum = lambda x,y,z: x+y+z

In [27]:
sum(2,9,7)

18

In [ ]:
# lambda argument: expression

In [14]:
mx = lambda x,y: x if x>y else y

print(mx(8,5))

8

In [17]:
ab = lambda x: x**2

print(ab(3))

9

In [18]:
print(ab(100))

10000

In [19]:
n = [4,3,2,1]

print(list(map(lambda x: x*2,n)))

[8, 6, 4, 2]

In [20]:
name = ['Pranab Mishra', 'dipen bhat', 'anup SingHAL', 'Marry roSSE', 'biPin ticker']

help(name.sort)

Help on built-in function sort:

sort(*, key=None, reverse=False) method of builtins.list instance
    Stable sort *IN PLACE*.

In [21]:
name.sort(key=lambda name: name.split(' ')[0].lower())
name

['anup SingHAL', 'biPin ticker', 'dipen bhat', 'Marry roSSE', 'Pranab Mishra']