# List Comprehension

Syntax for the list comprehension

syntax1 = [<Var> for <var> in <seq>]

syntax2 =  [<Var> for <var> in <seq> < condition>]

Syntax3 =  [<Var> if <Condition> else <Expression> for <var> in <seq>]

Syntax4 =  [<Var> if <Condition> else <Expression> for <var> in <seq>]

In [1]:
[num for num in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [2]:
[num for num in range(10) if num%2==0]

[0, 2, 4, 6, 8]

In [4]:
[num*2 if num%2 ==0 else num*3 for num in range(10)]

[0, 3, 4, 9, 8, 15, 12, 21, 16, 27]

In [11]:
lst1 = []
def lst_square(lst):
    for i in lst:
        lst1.append(i*i)
    return lst1

In [12]:
lst_square([8,12,23,34,2,35,77])

[64, 144, 529, 1156, 4, 1225, 5929]

In [24]:
lst = [8,12,23,34,2,35,77]

[i*i for i in lst]

[64, 144, 529, 1156, 4, 1225, 5929]


Syntax is 

Expression followed by a far clause, then more for or if clause
Step1 = i*i
step2 = for i in lst

In [16]:
lst = [8,12,23,34,2,35,77]

[i*i for i in lst if i%2==0] # to square only for even numbers from the list

[64, 144, 1156, 4]