# String Method in Pandas DataFrame

In [1]:
import pandas as pd

In [2]:
orders = pd.read_table('http://bit.ly/chiporders')

C:\Users\Pranab Ranjan Mishra\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: read_table is deprecated, use read_csv instead, passing sep='\t'.
  """Entry point for launching an IPython kernel.

In [6]:
# Can be read like this also

orders = pd.read_csv('http://bit.ly/chiporders', sep = '\t')

In [8]:
orders.head(3)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39

## To make upper case for all items in a particulr column

In [8]:
orders.item_name.str.upper().head()

0             CHIPS AND FRESH TOMATO SALSA
1                                     IZZE
2                         NANTUCKET NECTAR
3    CHIPS AND TOMATILLO-GREEN CHILI SALSA
4                             CHICKEN BOWL
Name: item_name, dtype: object

## To make lower case

In [9]:
orders.item_name.str.lower().head()

0             chips and fresh tomato salsa
1                                     izze
2                         nantucket nectar
3    chips and tomatillo-green chili salsa
4                             chicken bowl
Name: item_name, dtype: object

## To find out a particulat observation

str.contains metthod

In [12]:
orders.item_name.str.contains('Chicken').head()

0    False
1    False
2    False
3    False
4     True
Name: item_name, dtype: bool

In [14]:
orders[orders.item_name.str.contains('Chicken')].head()

,order_id,quantity,item_name,choice_description,item_price
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
11,6,1,Chicken Crispy Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",$8.75
12,6,1,Chicken Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",$8.75
13,7,1,Chicken Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25

## Reference

https://docs.python.org/3.7/library/string.html

# How to remove Brackets by String Method?

In [19]:
orders.choice_description.str.replace('[' , '').str.replace(']', '').head(10)

0                                                  NaN
1                                           Clementine
2                                                Apple
3                                                  NaN
4    Tomatillo-Red Chili Salsa (Hot), Black Beans, ...
5    Fresh Tomato Salsa (Mild), Rice, Cheese, Sour ...
6                                                  NaN
7    Tomatillo Red Chili Salsa, Fajita Vegetables, ...
8    Tomatillo Green Chili Salsa, Pinto Beans, Chee...
9    Fresh Tomato Salsa, Rice, Black Beans, Pinto B...
Name: choice_description, dtype: object

#### Second Method

In [22]:
orders.choice_description.str.replace('[\[\]]','').head(10)

0                                                  NaN
1                                           Clementine
2                                                Apple
3                                                  NaN
4    Tomatillo-Red Chili Salsa (Hot), Black Beans, ...
5    Fresh Tomato Salsa (Mild), Rice, Cheese, Sour ...
6                                                  NaN
7    Tomatillo Red Chili Salsa, Fajita Vegetables, ...
8    Tomatillo Green Chili Salsa, Pinto Beans, Chee...
9    Fresh Tomato Salsa, Rice, Black Beans, Pinto B...
Name: choice_description, dtype: object

# Split and Expand

In [12]:
orders.head(2)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39

In [15]:
item = orders['item_name']

In [19]:
item.str.split().head()

0             [Chips, and, Fresh, Tomato, Salsa]
1                                         [Izze]
2                            [Nantucket, Nectar]
3    [Chips, and, Tomatillo-Green, Chili, Salsa]
4                                [Chicken, Bowl]
Name: item_name, dtype: object

In [22]:
item.str.split(expand = True).head(3)

           0       1      2       3      4     5
0      Chips     and  Fresh  Tomato  Salsa  None
1       Izze    None   None    None   None  None
2  Nantucket  Nectar   None    None   None  None

In [24]:
item.str.split('Chicken', expand = True).head()

                                       0      1
0           Chips and Fresh Tomato Salsa   None
1                                   Izze   None
2                       Nantucket Nectar   None
3  Chips and Tomatillo-Green Chili Salsa   None
4                                          Bowl

## replace Method

In [26]:
item.str.replace('Chicken','Non_veg').head()

0             Chips and Fresh Tomato Salsa
1                                     Izze
2                         Nantucket Nectar
3    Chips and Tomatillo-Green Chili Salsa
4                             Non_veg Bowl
Name: item_name, dtype: object